@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Home";
}


<html>
@section pagetitle{
    <h1>This is my Razor Home Page</h1>
    }
    <head>
        <title>@Page.Title</title>
    </head>

    <body>

    </body>
</html>
